<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Faith Plus One Miracle Cure</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans" rel="stylesheet">
</head>
<body>
  <div class="main-content">
    <div class="navLogoBar">
      <div class="navBarImages">
        <img class="uk-navbar-toggle" id="mobileMenu" src="assets/images/hamburger.png" alt="navigation menu">
        <img id="Logo" src="assets/images/FaithPlusOnelogo.png" alt="">
      </div>
    </div>
    <div class="parallaxImage1"></div>
    <div class="productInfo">
      <div class="productImage">
        <img src="assets/images/simpletape.png" alt="tape beauty shot">
      </div>
      <div class="productDescription">
        <h3>Keep dirt where you want it!</h3>
      </div>
    </div>
    <div class="parallaxImage2"></div>
    <div class="productIcons">
      <div class="iconGroup1">
        <div class="icon1"> <img class="icon" src="assets/images/icon1.png" alt="icon1"> </div>
        <div class="iconText1 iconText">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="iconGroup2">
        <div class="icon2"> <img class="icon" src="assets/images/icon2.png" alt="icon2"> </div>
        <div class="iconText2 iconText">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="iconGroup3">
        <div class="icon3"> <img class="icon" src="assets/images/icon3.png" alt="icon3"> </div>
        <div class="iconText3 iconText">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
    </div>
    <div class="parallaxImage3"></div>
    <div class="disclaimers">
      <h5>Side Effects:</h5>
      <marquee behavior="scroll" direction="left" scrollamount="15">Agitation Agranulocytosis Anxiety Blurred vision Confusion Constipation Dizziness Dizziness upon standing Drowsiness Dry mouth ECG changes Eosinophilia Extrapyramidal symptoms (EPS) (muscle spasms, restlessness, muscle rigidity, slowness of movement, tremor, and jerky movements) Fast heart rate Fatigue Headache Increased LFTs Insomnia Lethargy Low blood platelet count (thrombocytopenia) Low white blood cell count (leukopenia) Nausea Numbness and tingling Rash Ringing in the ears (tinnitus) Seizures Sexual dysfunction Sweating Syndrome of Inappropriate Antidiuretic Hormone (SIADH) Vomiting Weakness Headache Nausea Ejaculation disorder Somnolence Insomnia Dry mouth Constipation Fatigue Libido decrease Inability to achieve orgasm Gas (flatulence) Toothache Weight gain Menstrual disorder Neck/shoulder pain Runny nose Flu-like syndrome Less common side effects of escitalopram include: Abdominal pain Abnormal bleeding Abnormal dreams Allergy Blurred vision Bronchitis Chest pain Constipation Decreased appetite Decreased concentration Disrupts platelets/hemostasis Dizziness Fever Heartburn High blood pressure (hypertension) Hot flashes Impotence Indigestion Irritability Jaw stiffness Joint pain Lethargy Lightheadedness Menstrual disorder Palpitations Migraine Muscle pain Numbness and tingling Rash Ringing in the ears Spinning sensation (vertigo) Sweating Tremor Urinary frequency Urinary tract infection Vomiting Yawning</marquee>
      </div>
    </div>
  </body>
</html>
